<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="launchpad-dot-net" version="1.0.0" targetFramework="net472" />
  <package id="LifxCloud" version="1.1.12" targetFramework="net472" />
  <package id="midi-dot-net2" version="2.0.1" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="12.0.3" targetFramework="net472" />
</packages>